body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    font-family: "Playfair Display";
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
    background-size: 200px 200px;
    opacity: 0.35;
    background-image:
        radial-gradient(1px 1px at 20px 30px, #fff, transparent),
        radial-gradient(1px 1px at 40px 70px, #fff, transparent),
        radial-gradient(2px 2px at 50px 160px, #fff, transparent),
        radial-gradient(1.5px 1.5px at 90px 40px, #fff, transparent),
        radial-gradient(2px 2px at 130px 80px, #fff, transparent),
        radial-gradient(1.5px 1.5px at 160px 120px, #fff, transparent);
}

.hero-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url("/img/space.jpg") center bottom /cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom:150px;
}

.moon-image {
    position: absolute;
    z-index: 2;
    width: 70vw;
}

.hero-title {
    position: absolute;
    z-index: 3;
    top: 55%;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;

    color: var(--text-main);
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 6px 3px 3.5px rgba(0, 0, 0, 0.8);
}

/* DESKTOP A TABLETY */

@media (min-width: 526px) {
    .hero-title {
        font-size: 4.5rem;
    }
}

@media (min-width: 768px) {

    .circle-outline {
        width: 500px;
        height: 500px;
    }

    .moon-image {
        width: 450px;
    }

    .hero-title {
        font-size: 5rem;
        top: 60%;
    }
}

/* --- Explanation --- */

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.card {
    width:90%;
    color: var(--text-main);
    border-radius: 51px;
    padding: 50px;
}

.card p {
    font-size: 1.5rem;
}

.card span {
    color: var(--text-muted);
}

.card h1 {
    font-size: 36px;
    margin: 0;
}

.card1 {
    background: linear-gradient(var(--glow), var(--secondary-bg));
}

.card2 {
    background: linear-gradient(var(--primary-bg), var(--secondary-bg));
}

@media (min-width:1200px) {
    .cards {
        display:block;
        position:relative;
        width: 1125px;
        height: 1200px;
        margin: 80px auto;
    }

    .card {
        position:absolute;
        width: 690px;
        height:auto;
    }

    .card p {
        font-size:1.2rem;
    }

    .card1 {
        top:0;
        left:0;
        z-index:1;
    }

    .card2 {
        top:17%;
        left:30%;
        z-index:2;
        box-shadow: 0px 9px 15px black;
        background:linear-gradient(var(--primary-bg),var(--glow));
    }
    
    .card1 #text-box {
        width: 290px;
    }

    .card2 .text-right {
        width: 650px;
        margin-left:40px;
    }

}